// Breakpoints
$mobile: 400px;
$tablet: 640px;
$desktop: 900px;

:root {
  // Font sizes
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.5rem;
  --fs-200: 0.25rem;

  // Padding
  --pd-xl: 5rem;
  --pd-900: 4rem;
  --pd-800: 3rem;
  --pd-700: 2rem;
  --pd-600: 1.5rem;
  --pd-500: 1.25rem;
  --pd-400: 1rem;
  --pd-300: 0.5rem;
  --pd-200: 0.25rem;

  // Margin
  --mg-xl: 5rem;
  --mg-900: 4rem;
  --mg-800: 3rem;
  --mg-700: 2rem;
  --mg-600: 1.5rem;
  --mg-500: 1.25rem;
  --mg-400: 1rem;
  --mg-300: 0.5rem;
  --mg-200: 0.25rem;
}
