:root {
  // Main colors
  --cl-primary-500: #1b4bf7;
  --cl-neutral-900: rgb(27, 27, 27);
  --cl-neutral-100: hsl(0 0% 100%);

  // Social colors
  --cl-twitter: #1d9bf0;
  --cl-youtube: #ff0000;
  --cl-github: #727272;
}
