:root {
  --ff-body: "Heebo", sans-serif;
  --heading: "Oswald", sans-serif;

  // Font sizes
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;

  // Fonts
  --ff-primary: "Barlow", Sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  font-family: var(--ff-primary);
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--ff-body);
}
