:root {
  --ff-body: "Heebo", sans-serif;
  --heading: "Oswald", sans-serif;
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --ff-primary: "Barlow", Sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  font-family: var(--ff-primary);
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--ff-body);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}

blockquote {
  font-size: var(--fs-600);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1em;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

h2 {
  font-size: var(--fs-600);
}

.container {
  max-width: 1220px;
  margin-inline: auto;
}

@media (min-width: 40em) {
  :root {
    --fs-xl: 7rem;
    --fs-600: 2rem;
    --fs-500: 1.25rem;
    --fs-400: 1.125rem;
  }
}
:root {
  --cl-primary-500: #1b4bf7;
  --cl-neutral-900: rgb(27, 27, 27);
  --cl-neutral-100: hsl(0 0% 100%);
  --cl-twitter: #1d9bf0;
  --cl-youtube: #ff0000;
}

.header__social {
  width: 1rem;
  height: 1rem;
}
