:root {
  --ff-body: "Heebo", sans-serif;
  --heading: "Oswald", sans-serif;
  --ff-primary: "Barlow", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: var(--ff-primary);
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--cl-neutral-black);
}

:root {
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.5rem;
  --fs-200: 0.25rem;
  --pd-xl: 5rem;
  --pd-900: 4rem;
  --pd-800: 3rem;
  --pd-700: 2rem;
  --pd-600: 1.5rem;
  --pd-500: 1.25rem;
  --pd-400: 1rem;
  --pd-300: 0.5rem;
  --pd-200: 0.25rem;
  --mg-xl: 5rem;
  --mg-900: 4rem;
  --mg-800: 3rem;
  --mg-700: 2rem;
  --mg-600: 1.5rem;
  --mg-500: 1.25rem;
  --mg-400: 1rem;
  --mg-300: 0.5rem;
  --mg-200: 0.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  padding: 0;
}

blockquote {
  font-size: var(--fs-600);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1em;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

button {
  border: none;
}

.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    position: relative;
    width: 80%;
    max-width: 1220px;
    margin: auto;
  }
}

@media (min-width: 40rem) {
  :root {
    --fs-xl: 7rem;
    --fs-600: 2rem;
    --fs-500: 1.25rem;
    --fs-400: 1.125rem;
  }
}
:root {
  --cl-primary-blue: #1b4bf7;
  --cl-neutral-black: rgb(27, 27, 27);
  --cl-neutral-white: hsl(0 0% 100%);
  --cl-twitter: #1d9bf0;
  --cl-youtube: #ff0000;
  --cl-github: #727272;
}

.header {
  display: grid;
  align-items: center;
  margin-inline: auto;
}
@media (min-width: 640px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-start: 0.25rem;
  }
}

.logo--mobile {
  display: block;
  margin-inline-start: auto;
  margin-block-start: var(--mg-400);
}

.header__logo {
  display: none;
}
@media (min-width: 640px) {
  .header__logo {
    display: inline;
    margin-block-start: 0.5rem;
  }
}

.logo__heading {
  font-weight: 400;
}

.header__image {
  background-image: url(../../assets/img/paradise1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover/cover;
  width: 100%;
  height: 300px;
  margin-inline: auto;
  margin-block: var(--mg-500);
}
@media (min-width: 640px) {
  .header__image {
    position: absolute;
    width: 100%;
    max-width: 50%;
    height: 600px;
    top: 0;
    right: 0;
    margin-block: 0;
  }
}

.header__social {
  margin-inline: auto;
}
@media (min-width: 640px) {
  .header__social {
    margin-inline-start: var(--mg-800);
    margin-block-start: 0.9rem;
  }
}

.social__link {
  padding-inline: var(--pd-300);
}

.header__social {
  display: flex;
}

.header__social__icon {
  color: #000;
  width: 1rem;
  height: 1rem;
}
.header__social__icon--twitter, .header__social__icon--youtube, .header__social__icon--github {
  transition: all 0.3s ease-in-out;
  margin-inline: 0;
  padding-inline: 0;
}
.header__social__icon--twitter:hover, .header__social__icon--twitter:focus {
  color: var(--cl-twitter);
}
.header__social__icon--youtube:hover, .header__social__icon--youtuve:focus {
  color: var(--cl-youtube);
}
.header__social__icon--github {
  border-radius: 50%;
}
.header__social__icon--github:hover, .header__social__icon--github:focus {
  color: var(--cl-neutral-white);
  background-color: #000;
}

.hero {
  display: flex;
  align-items: center;
}
@media (min-width: 640px) {
  .hero {
    height: 50vh;
  }
}

.hero__heading {
  font-size: 2.5rem;
  font-weight: 300;
  max-width: 50%;
  padding-inline-start: var(--pd-700);
  padding-block-start: var(--pd-500);
}
@media (min-width: 640px) {
  .hero__heading {
    font-size: 2.5rem;
    font-weight: 200;
    max-width: 50%;
    padding-inline-start: 0;
    padding-inline-end: var(--pd-500);
    margin-inline-end: var(--mg-500);
  }
}

@media (min-width: 640px) {
  .hero__heading--2 {
    background-color: var(--cl-neutral-white);
    max-width: 100%;
    padding: 0;
    padding-block-end: 3rem;
    margin-block-start: 4rem;
    margin-inline-end: 0;
  }
}

.btn {
  margin: auto;
  padding-inline: var(--pd-500);
  padding-block: var(--pd-300);
  border-radius: 5px;
}

.hamburger-logo {
  display: flex;
  padding-inline: var(--pd-500);
  transition: all 0.3s ease;
}
@media (min-width: 640px) {
  .hamburger-logo {
    display: none;
  }
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2rem;
  height: 2.5rem;
  padding: 0em;
  margin-block-start: var(--mg-500);
  margin-inline-start: var(--mg-400);
  border-radius: 50%;
  background: var(--cl-neutral-white);
  left: 0;
  top: 0;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 2.5px;
  background: var(--cl-neutral-black);
  z-index: 1;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(5px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  transform: translateX(400px);
  transition: transform 0.5s ease;
}
@media (min-width: 640px) {
  .nav {
    visibility: visible;
    height: auto;
    position: relative;
    transform: translateX(0);
    transition: none;
    grid-column-start: 3;
    z-index: 1;
  }
}
.nav--visible {
  visibility: visible;
  left: 0;
  width: 100%;
  min-height: 340px;
  margin-block-start: var(--mg-800);
  padding-block: var(--pd-700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--cl-neutral-white);
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.nav-transition {
  padding-block-start: var(--pd-500);
  padding-inline: var(--pd-700);
  transition: padding 0.5s ease;
}

@media (min-width: 640px) {
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: flex;
  }
}
.nav__link {
  margin-inline: auto;
  margin-block-start: var(--mg-500);
  font-weight: 600;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}
.nav__link:hover, .nav__link:focus {
  color: var(--cl-primary-blue);
}
@media (min-width: 640px) {
  .nav__link {
    margin-inline-end: var(--mg-600);
    margin-block-start: 1.5rem;
    color: var(--cl-neutral-black);
  }
}

.nav__btn {
  cursor: pointer;
  width: 100%;
  background-color: var(--cl-neutral-black);
  color: var(--cl-neutral-white);
  border: 2px solid var(--cl-neutral-black);
  transition: background-color, border, color, background-color 0.5s ease-in-out;
}
.nav__btn:hover, .nav__btn:focus {
  background-color: var(--cl-primary-white);
  border: 2px solid var(--cl-neutral-black);
  color: var(--cl-neutral-black);
}
@media (min-width: 640px) {
  .nav__btn {
    width: 7rem;
    margin-block-start: 1rem;
  }
  .nav__btn:hover, .nav__btn:focus {
    background-color: var(--cl-neutral-white);
    border: 2px solid var(--cl-neutral-black);
    color: var(--cl-neutral-black);
  }
}
