@use "../abstracts/mixins" as media;
@use "../abstracts/variables" as width;

// Header navigation

.header {
  display: grid;
  align-items: center;
  margin-inline: auto;

  @include media.for-tablet(width.$tablet) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  display: none;
  @include media.for-tablet(width.$tablet) {
    margin-block-start: var(--mg-500);
    margin-inline-start: 0;
    margin-inline-start: auto;
    margin-block-start: var(--mg-400);
    padding-inline-end: var(--mg-400);
  }

  &--mobile {
    margin-inline-start: auto;
    margin-block-start: var(--mg-400);
    @include media.for-tablet(width.$tablet) {
    }
  }
}

.header__logo__heading {
  font-weight: 400;
}

.header__social {
  margin-inline: auto;
  @include media.for-tablet(width.$tablet) {
    grid-column-start: 2;
    margin-inline-start: var(--mg-800);
  }
}

.header__social__link {
  padding-inline: var(--pd-200);
}

.header__image {
  background-image: url(../../assets/img/paradise1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover/cover;
  width: 100%;
  height: 300px;
  margin-inline: auto;
  margin-block: var(--mg-500);
  @include media.for-tablet(width.$tablet) {
    position: absolute;
    width: 100%;
    max-width: 50%;
    height: 600px;
    top: 0;
    right: 0;
    margin-block: 0;
  }
}

// Social icons hover/focus state

.header__social__icon {
  color: #000;
  width: 1rem;
  height: 1rem;
  &--twitter,
  &--youtube,
  &--github {
    transition: all 0.3s ease-in-out;
  }
  &--twitter:hover,
  &--twitter:focus {
    color: var(--cl-twitter);
  }
  &--youtube:hover,
  &--youtuve:focus {
    color: var(--cl-youtube);
  }

  &--github {
    border-radius: 50%;
  }
  &--github:hover,
  &--github:focus {
    color: var(--cl-neutral-white);
    background-color: #000;
  }
}
