@use "../abstracts/mixins" as media;
@use "../abstracts/variables" as width;

// Header navigation

.header {
  display: grid;
  align-items: center;
  margin-inline: auto;

  @include media.for-tablet(width.$tablet) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  margin-inline-start: auto;
  @include media.for-tablet(width.$tablet) {
    flex-grow: 0;
  }
}

.header__logo__heading {
  font-weight: 400;
}

.header__social {
  margin-inline: auto;
  @include media.for-tablet(width.$tablet) {
    flex-grow: 2;
    margin-inline-start: var(--mg-800);
  }
}

.header__social__link {
  padding-inline: var(--pd-200);
}

.header__image {
  max-width: 100%;
  margin-inline: auto;
  margin-block: var(--mg-500);
  @include media.for-tablet(width.$tablet) {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    margin-block: 0;
  }
}

// Navigation

.header__nav {
  display: none;
  margin-block-start: var(--mg-300);
  @include media.for-tablet(width.$tablet) {
    display: block;
    position: absolute;
    margin-inline-end: var(--mg-600);
    right: 0;
    z-index: 1;
  }
}

.header__nav__link {
  margin-inline: var(--mg-200);
  @include media.for-tablet(width.$tablet) {
    margin-inline-end: var(--mg-600);
    color: var(--cl-neutral-black);
    // filter: drop-shadow(3px 3px 3px var(--cl-neutral-black));
  }
}

.nav__btn {
  background-color: var(--cl-neutral-black);
}

.header__btn__text {
  color: var(--cl-neutral-white);
}

// Social icons hover/focus state

.header__social__icon {
  color: #000;
  width: 1rem;
  height: 1rem;
  &--twitter,
  &--youtube,
  &--github {
    transition: all 0.3s ease-in-out;
  }
  &--twitter:hover,
  &--twitter:focus {
    color: var(--cl-twitter);
  }
  &--youtube:hover,
  &--youtuve:focus {
    color: var(--cl-youtube);
  }

  &--github {
    border-radius: 50%;
  }
  &--github:hover,
  &--github:focus {
    color: var(--cl-neutral-white);
    background-color: #000;
  }
}
