@use "../abstracts/mixins" as media;
@use "../abstracts/variables" as width;

// Header navigation
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  padding-inline: 1.5rem;
  margin-block-start: var(--mg-500);

  @include media.for-tablet(width.$tablet) {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo {
  @include media.for-tablet(width.$tablet) {
    flex-grow: 0;
  }
}

.header__logo__heading {
  font-weight: 400;
}

.header__social {
  margin-block-start: var(--mg-300);
  @include media.for-tablet(width.$tablet) {
    flex-grow: 2;
    margin-inline-start: var(--mg-800);
  }
}

.header__social__link {
  padding-inline: var(--pd-200);
}

// Navigation

// Nav image switch for mobile/tablet
.social-image-container {
  display: flex;
  flex-direction: column-reverse;
  @include media.for-tablet(width.$tablet) {
    display: block;
  }
}

.header__nav {
  display: none;
  margin-block-start: var(--mg-300);
  @include media.for-tablet(width.$tablet) {
    display: block;
  }
}

.header__nav__link {
  margin-inline: var(--mg-200);
  @include media.for-tablet(width.$tablet) {
    margin-inline-end: var(--mg-600);
  }
}

.header__nav__btn {
  display: block;
}

// Social icons hover/focus state

.header__social__icon {
  color: #000;
  width: 1rem;
  height: 1rem;
  &--twitter,
  &--youtube,
  &--github {
    transition: all 0.3s ease-in-out;
  }
  &--twitter:hover,
  &--twitter:focus {
    color: var(--cl-twitter);
  }
  &--youtube:hover,
  &--youtuve:focus {
    color: var(--cl-youtube);
  }

  &--github {
    border-radius: 50%;
  }
  &--github:hover,
  &--github:focus {
    color: var(--cl-neutral-white);
    background-color: #000;
  }
}

// Media mobile
// @media (min-width: 600px) {
//   .header {
//     display: flex;
//     flex-direction: row;
//     margin-inline: auto;
//     justify-content: space-between;
//     align-items: center;
//   }

//   .header__logo {
//     flex-grow: 0;
//   }

//   .header__social {
//     flex-grow: 2;
//     margin-inline-start: 3rem;
//   }

//   .header__nav__link {
//     margin-inline-end: var(--mg-600);
//   }
// }
