@use "../abstracts/mixins" as media;
@use "../abstracts/variables" as width;
// Navigation

// Hamburger / logo container
.hamburger-logo {
  display: flex;
  padding-inline: var(--pd-500);
  transition: all 0.3s ease;

  @include media.for-tablet(width.$tablet) {
    display: none;
  }
}

// Nav toggle
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2rem;
  height: 2.5rem;
  padding: 0em;
  margin-block-start: var(--mg-500);
  margin-inline-start: var(--mg-400);

  border-radius: 50%;
  background: var(--cl-neutral-white);
  left: 0;
  top: 0;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 2.5px;
  background: var(--cl-neutral-black);
  z-index: 1;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(5px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  transform: translateX(400px);
  transition: transform 0.5s ease-in;
  @include media.for-tablet(width.$tablet) {
    visibility: visible;
    height: auto;
    position: relative;
    transform: translateX(0);
    transition: none;
    grid-column-start: 3;
    z-index: 1;
  }

  &--visible {
    left: 0;
    width: 100%;
    visibility: visible;
    min-height: 340px;
    margin-block-start: var(--mg-800);
    padding-block: var(--pd-700);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--cl-neutral-white);
    transform: translateX(0);
    transition: transform 0.5s ease;
  }
}

@include media.for-tablet(width.$tablet) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
  }
}

.nav__link {
  margin-inline: auto;
  margin-block-start: var(--mg-500);
  &:hover,
  &:focus {
    color: var(--cl-primary-blue);
  }

  transition: color 0.3s ease-in-out;

  @include media.for-tablet(width.$tablet) {
    margin-inline-end: var(--mg-600);
    margin-block-start: var(--mg-500);
    color: var(--cl-neutral-black);
  }
}

.nav__btn {
  cursor: pointer;
  width: 100%;
  background-color: var(--cl-neutral-black);
  color: var(--cl-neutral-white);
  border: 2px solid var(--cl-neutral-black);

  &:hover,
  &:focus {
    background-color: var(--cl-primary-white);
    border: 2px solid var(--cl-neutral-black);
    color: var(--cl-neutral-black);
  }

  @include media.for-tablet(width.$tablet) {
    width: 7rem;
    margin-block: var(--mg-800);
    margin-block: 0;
    &:hover,
    &:focus {
      background-color: var(--cl-neutral-white);
      border: 2px solid var(--cl-neutral-black);
      color: var(--cl-neutral-black);
    }
  }

  transition: background-color, border, color 0.5s ease;
}

// .nav-transition {
//   padding-block-start: var(--pd-500);
//   padding-inline: var(--pd-700);
//   transition: padding 0.5s ease;
// }
