:root {
  --ff-body: "Heebo", sans-serif;
  --heading: "Oswald", sans-serif;
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --pd-xl: 5rem;
  --pd-600: 1.5rem;
  --pd-500: 1.25rem;
  --pd-400: 1rem;
  --mg-xl: 5rem;
  --mg-600: 1.5rem;
  --mg-500: 1.25rem;
  --mg-400: 1rem;
  --ff-primary: "Barlow", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: var(--ff-primary);
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--cl-neutral-black);
}
